In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [32]:
df = pd.read_csv('Salaries.csv')
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [36]:
#Drop all columns that we will need 
df.drop(['Status','Notes' , 'Agency','Id','EmployeeName'], axis = 1 , inplace = True)

In [37]:
df.isna().sum()

Id                      0
EmployeeName            0
JobTitle                0
BasePay               609
OvertimePay             4
OtherPay                4
Benefits            36163
TotalPay                0
TotalPayBenefits        0
Year                    0
Agency                  0
dtype: int64

In [38]:
df.dropna(axis = 0 ,inplace = True)

In [39]:
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency
36159,36160,Gary Altenberg,"Lieutenant, Fire Suppression",128808.87,220909.48,13126.31,44430.12,362844.66,407274.78,2012,San Francisco
36160,36161,Gregory Suhr,Chief of Police,302578.00,0.00,18974.11,69810.19,321552.11,391362.30,2012,San Francisco
36161,36162,Khoa Trinh,Electronic Maintenance Tech,111921.00,146415.32,78057.41,53102.29,336393.73,389496.02,2012,San Francisco
36162,36163,Joanne Hayes-White,"Chief, Fire Department",296943.01,0.00,17816.59,72047.88,314759.60,386807.48,2012,San Francisco
36163,36164,Frederick Binkley,EMT/Paramedic/Firefighter,126863.19,192424.49,17917.18,44438.25,337204.86,381643.11,2012,San Francisco
...,...,...,...,...,...,...,...,...,...,...,...
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,San Francisco

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111886 entries, 36159 to 148653
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                111886 non-null  int64
 1   EmployeeName      111886 non-null  object
 2   JobTitle          111886 non-null  object
 3   BasePay           111886 non-null  float64
 4   OvertimePay       111886 non-null  float64
 5   OtherPay          111886 non-null  float64
 6   Benefits          111886 non-null  float64
 7   TotalPay          111886 non-null  float64
 8   TotalPayBenefits  111886 non-null  float64
 9   Year              111886 non-null  int64
 10  Agency            111886 non-null  object
dtypes: float64(6), int64(2), object(3)
memory usage: 10.2+ MB

In [41]:
df['JobTitle'].value_counts()

Transit Operator                  6975
Special Nurse                     4382
Registered Nurse                  3725
Public Svc Aide-Public Works      2514
Police Officer 3                  2411
                                  ...
Special Assistant 18                 1
Chief Forensic Toxicologist          1
Cfdntal Sctry to Distric Atty        1
Forensic Toxicologist Supervis       1
Marina Associate Manager             1
Name: JobTitle, Length: 1109, dtype: int64

In [42]:
df['Agency'].value_counts()

San Francisco    111886
Name: Agency, dtype: int64

In [43]:
df['Year'].value_counts()

2014    38119
2013    37001
2012    36766
Name: Year, dtype: int64

In [53]:
df = df[df['TotalPayBenefits']>0 ]

In [55]:
df = df[df['BasePay']>0 ]

In [56]:
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency
36159,36160,Gary Altenberg,"Lieutenant, Fire Suppression",128808.87,220909.48,13126.31,44430.12,362844.66,407274.78,2012,San Francisco
36160,36161,Gregory Suhr,Chief of Police,302578.00,0.00,18974.11,69810.19,321552.11,391362.30,2012,San Francisco
36161,36162,Khoa Trinh,Electronic Maintenance Tech,111921.00,146415.32,78057.41,53102.29,336393.73,389496.02,2012,San Francisco
36162,36163,Joanne Hayes-White,"Chief, Fire Department",296943.01,0.00,17816.59,72047.88,314759.60,386807.48,2012,San Francisco
36163,36164,Frederick Binkley,EMT/Paramedic/Firefighter,126863.19,192424.49,17917.18,44438.25,337204.86,381643.11,2012,San Francisco
...,...,...,...,...,...,...,...,...,...,...,...
148613,148614,Nanette M Lloyd,Special Nurse,19.97,0.00,0.00,4.30,19.97,24.27,2014,San Francisco
148616,148617,Afakasi O Afakasi,Public Service Trainee,21.48,0.00,0.86,0.22,22.34,22.56,2014,San Francisco
148617,148618,Charles F Williams Iii,Pool Lifeguard,17.26,0.00,0.00,4.04,17.26,21.30,2014,San Francisco
148619,148620,Ian V Cameron,IS Program Analyst-Assistant,6.04,0.00,10.05,2.30,16.09,18.39,2014,San Francisco
148620,148621,India C Sabater,Recreation Leader,15.50,0.00,0.00,0.16,15.50,15.66,2014,San Francisco

In [62]:
df['TotalPayBenefits-overtime'] = df['TotalPayBenefits']-df['OvertimePay']

C:\MyAnaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [63]:
df

,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,TotalPayBenefits-overtime
36159,"Lieutenant, Fire Suppression",128808.87,220909.48,13126.31,44430.12,362844.66,407274.78,2012,186365.30
36160,Chief of Police,302578.00,0.00,18974.11,69810.19,321552.11,391362.30,2012,391362.30
36161,Electronic Maintenance Tech,111921.00,146415.32,78057.41,53102.29,336393.73,389496.02,2012,243080.70
36162,"Chief, Fire Department",296943.01,0.00,17816.59,72047.88,314759.60,386807.48,2012,386807.48
36163,EMT/Paramedic/Firefighter,126863.19,192424.49,17917.18,44438.25,337204.86,381643.11,2012,189218.62
...,...,...,...,...,...,...,...,...,...
148613,Special Nurse,19.97,0.00,0.00,4.30,19.97,24.27,2014,24.27
148616,Public Service Trainee,21.48,0.00,0.86,0.22,22.34,22.56,2014,22.56
148617,Pool Lifeguard,17.26,0.00,0.00,4.04,17.26,21.30,2014,21.30
148619,IS Program Analyst-Assistant,6.04,0.00,10.05,2.30,16.09,18.39,2014,18.39
148620,Recreation Leader,15.50,0.00,0.00,0.16,15.50,15.66,2014,15.66

In [64]:
df.drop(['OvertimePay','TotalPay'], axis = 1 , inplace = True)

C:\MyAnaconda\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [71]:
df.drop(['BasePay','OtherPay','Benefits','TotalPayBenefits'], axis = 1 , inplace = True)

C:\MyAnaconda\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [74]:
df.head()

                           JobTitle  Year  TotalPayBenefits-overtime
36159  Lieutenant, Fire Suppression  2012                  186365.30
36160               Chief of Police  2012                  391362.30
36161   Electronic Maintenance Tech  2012                  243080.70
36162        Chief, Fire Department  2012                  386807.48
36163     EMT/Paramedic/Firefighter  2012                  189218.62

In [75]:
df.reset_index(drop=True)

                            JobTitle  Year  TotalPayBenefits-overtime
0       Lieutenant, Fire Suppression  2012                  186365.30
1                    Chief of Police  2012                  391362.30
2        Electronic Maintenance Tech  2012                  243080.70
3             Chief, Fire Department  2012                  386807.48
4          EMT/Paramedic/Firefighter  2012                  189218.62
...                              ...   ...                        ...
111024                 Special Nurse  2014                      24.27
111025        Public Service Trainee  2014                      22.56
111026                Pool Lifeguard  2014                      21.30
111027  IS Program Analyst-Assistant  2014                      18.39
111028             Recreation Leader  2014                      15.66

[111029 rows x 3 columns]

In [73]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(stop_words='english')

In [76]:
X = df['JobTitle']

In [77]:
vectorizer.fit(X)

TfidfVectorizer(stop_words='english')

In [84]:
vectorizer.vocabulary_

{'lieutenant': 385,
 'suppression': 668,
 'chief': 129,
 'police': 508,
 'electronic': 240,
 'maintenance': 397,
 'tech': 685,
 'department': 202,
 'emt': 250,
 'paramedic': 471,
 'firefighter': 283,
 'dept': 203,
 'head': 309,
 'gen': 294,
 'mgr': 428,
 'public': 545,
 'trnsp': 713,
 'captain': 114,
 'asst': 73,
 'chf': 128,
 'battlion': 88,
 'suppressi': 667,
 'assistant': 70,
 'deputy': 205,
 'transit': 707,
 'manager': 400,
 'med': 418,
 'examiner': 267,
 'dep': 201,
 'executive': 268,
 'contract': 171,
 'employee': 248,
 'adm': 27,
 'sfgh': 611,
 'medical': 421,
 'center': 122,
 'controller': 173,
 'mayor': 410,
 'anesthetist': 46,
 'senior': 601,
 'physician': 492,
 'specialist': 628,
 'nursing': 447,
 'supervisor': 661,
 'psychiatric': 541,
 'dir': 214,
 'investments': 354,
 'ret': 579,
 'viii': 732,
 'mta': 437,
 'port': 511,
 'director': 215,
 'incident': 330,
 'support': 665,
 'district': 223,
 'attorney': 75,
 'emergency': 246,
 'svcs': 676,
 'ii': 326,
 'iv': 360,
 'cfdntal': 124,
 'atty': 77,
 'cvl': 194,
 'crmnl': 185,
 'commander': 154,
 'city': 134,
 'inspector': 338,
 'nurse': 444,
 'human': 324,
 'resources': 577,
 'lieut': 384,
 'prev': 518,
 'officer': 454,
 'supervising': 660,
 'spec': 626,
 'special': 627,
 '22': 11,
 'iii': 327,
 'sergeant': 602,
 'forensic': 288,
 'toxicologist': 696,
 'atty1': 78,
 'civil': 135,
 'criminal': 183,
 'defender': 197,
 'wire': 744,
 'rope': 586,
 'cable': 109,
 'maint': 396,
 'sprv': 633,
 'practitioner': 515,
 'insp': 336,
 'pharmacist': 488,
 'prob': 522,
 'ofc': 451,
 'juv': 367,
 'court': 178,
 'adult': 33,
 'probation': 524,
 'sheriff': 616,
 'sfers': 610,
 'emp': 247,
 'relations': 565,
 'div': 224,
 'vii': 731,
 'registered': 561,
 'project': 535,
 'invstgtor': 358,
 'electrical': 236,
 'trnst': 714,
 'shop': 617,
 'vi': 729,
 'safety': 587,
 'diagnostic': 211,
 'imaging': 329,
 'clinical': 141,
 'undersheriff': 718,
 'mayoral': 411,
 'staff': 640,
 'xvii': 762,
 'engineer': 254,
 'architect': 57,
 'principal': 520,
 'assoc': 71,
 'eng': 252,
 'arch': 56,
 'landscape': 374,
 'sr': 636,
 'transmission': 708,
 'line': 389,
 'automotive': 83,
 'mechanic': 416,
 'train': 700,
 'mech': 415,
 'electrl': 238,
 'tax': 682,
 'collector': 151,
 'marine': 403,
 'boats': 98,
 'board': 97,
 'scty': 592,
 'heating': 312,
 'ventilating': 726,
 'assessor': 67,
 'utility': 723,
 'treasurer': 710,
 'business': 106,
 'analyst': 45,
 'pilot': 496,
 'commissioner': 157,
 'info': 332,
 'group': 303,
 'power': 513,
 'generation': 296,
 'comm': 153,
 'systems': 681,
 'technican': 687,
 'sewage': 608,
 'treatment': 712,
 'plant': 502,
 'supt': 669,
 '21': 10,
 'trans': 705,
 'dist': 220,
 'worker': 749,
 'law': 376,
 'librarian': 381,
 'water': 737,
 'const': 168,
 'main': 395,
 'operations': 457,
 'stationary': 644,
 'electr': 234,
 'architectural': 58,
 'associate': 72,
 'plumber': 505,
 'bldgs': 96,
 'grounds': 301,
 'rescue': 575,
 'communications': 159,
 'wrk': 751,
 'electrician': 237,
 'journey': 363,
 'sprv1': 634,
 'airport': 41,
 'mechanical': 417,
 'plumbing': 506,
 'dentist': 200,
 'operator': 458,
 'bur': 105,
 'clm': 143,
 'invest': 349,
 'admin': 28,
 'computer': 165,
 'sys': 679,
 'health': 310,
 'midwife': 432,
 'sewer': 609,
 'repair': 568,
 '19': 8,
 'light': 387,
 'rail': 550,
 'veh': 724,
 'equip': 261,
 'park': 472,
 'patrol': 478,
 'track': 697,
 'pr': 514,
 'administrative': 29,
 'institutional': 340,
 'service': 603,
 'xvi': 761,
 'technician': 688,
 'crime': 182,
 'lab': 371,
 '16': 6,
 'investigator': 351,
 'disability': 216,
 'access': 17,
 'coordinator': 176,
 'fiscal': 284,
 'services': 604,
 'telecommunications': 690,
 'supv': 670,
 'criminalist': 184,
 'station': 643,
 'agent': 37,
 'muni': 439,
 'railway': 551,
 'administrator': 30,
 'fac': 270,
 'structural': 655,
 'operating': 456,
 'room': 585,
 'radiologic': 549,
 'planner': 499,
 'reporter': 570,
 'statnry': 646,
 'wtrtreat': 754,
 'plnt': 504,
 'protection': 537,
 'building': 104,
 'universal': 721,
 'engr': 256,
 'xv': 760,
 'helper': 314,
 'sew': 607,
 'inpsector': 335,
 'ex': 266,
 'retirement': 580,
 'agency': 36,
 'construction': 169,
 'body': 99,
 'fender': 278,
 'wtr': 753,
 'treat': 711,
 'real': 555,
 'property': 536,
 'bldg': 95,
 'protective': 538,
 'paint': 468,
 'prg': 519,
 'traf': 698,
 'signal': 620,
 'sup': 656,
 'safetycomm': 588,
 'auto': 82,
 'apprentice': 51,
 'purchaser': 546,
 'locksmith': 390,
 'claims': 136,
 'compliance': 164,
 'welder': 740,
 'disp': 218,
 'juvenile': 368,
 'hall': 308,
 'occupational': 450,
 'therapist': 693,
 'machinist': 393,
 'conservation': 166,
 'traffic': 699,
 'communication': 158,
 'investigatoriii': 352,
 'program': 531,
 'industrial': 331,
 'hygienist': 325,
 'street': 654,
 'perf': 482,
 'housing': 322,
 'environmental': 259,
 'review': 581,
 'adlt': 26,
 'prnpl': 521,
 'govrnmt': 298,
 'publ': 544,
 'affairs': 35,
 'chemist': 127,
 'survey': 673,
 'alarm': 43,
 'dispatcher': 219,
 'surveyor': 674,
 'instrmntn': 342,
 'poll': 509,
 'marriage': 407,
 'family': 274,
 'child': 130,
 'cnslr': 147,
 'mediator': 420,
 'ufcs': 717,
 'victim': 730,
 'witness': 746,
 'hlth': 316,
 'personnel': 486,
 'economic': 230,
 'physical': 491,
 'ct': 188,
 'comp': 161,
 'app': 49,
 'programmer': 532,
 'xiii': 758,
 'xiv': 759,
 'splicer': 632,
 'biologist': 94,
 'shelter': 615,
 'veterinarian': 728,
 'estate': 263,
 'devt': 210,
 'sfmta': 612,
 'carpenter': 117,
 'repres': 572,
 'fare': 275,
 'attry': 76,
 'sheet': 614,
 'metal': 424,
 'media': 419,
 'security': 599,
 'syst': 680,
 'steamfitter': 651,
 'accountant': 20,
 'employment': 249,
 'training': 704,
 'pub': 543,
 'coord': 175,
 'member': 422,
 'supervisors': 662,
 'hospital': 319,
 'elig': 242,
 'clincal': 140,
 'psychologist': 542,
 'heavy': 313,
 'equipment': 262,
 'ops': 461,
 '15': 5,
 'mgmt': 427,
 'plan': 498,
 'checker': 125,
 'auditor': 81,
 'probate': 523,
 'se': 593,
 'com': 152,
 'pharmacy': 489,
 'switch': 678,
 'repairer': 569,
 'house': 320,
 'crane': 181,
 'adjuster': 25,
 'appraiser': 50,
 'environ': 258,
 'oprs': 460,
 'eeo': 232,
 'personal': 485,
 'records': 559,
 'interpreter': 347,
 'materials': 409,
 'parking': 473,
 'enforcement': 251,
 'maritime': 404,
 'marketing': 406,
 'repr': 571,
 'srclaimsinvstgtor': 637,
 'cty': 189,
 'community': 160,
 'dev': 207,
 'payroll': 481,
 'clerk': 139,
 'counselor': 177,
 'svc': 675,
 'superintendent': 657,
 'rec': 556,
 'wastewater': 736,
 'cont': 170,
 'research': 576,
 'watershed': 738,
 'forester': 289,
 'truck': 715,
 'driver': 228,
 'citizen': 132,
 'involvement': 355,
 'car': 115,
 'painter': 469,
 'elevator': 241,
 'audiologist': 79,
 'licensed': 383,
 'vocational': 733,
 'general': 295,
 'laborer': 373,
 'electric': 235,
 'motor': 436,
 'rights': 582,
 'piledriver': 495,
 'area': 59,
 'parks': 474,
 'squares': 635,
 'control': 172,
 'pipe': 497,
 'superior': 658,
 'crt': 187,
 'benefits': 92,
 'devl': 209,
 'spc': 625,
 'bd': 89,
 'secretary': 597,
 'cement': 120,
 'finisher': 282,
 'regulatory': 563,
 'welfare': 741,
 'fraud': 291,
 'mental': 423,
 'hearing': 311,
 'inspection': 337,
 'educator': 231,
 'fusion': 292,
 'section': 598,
 'soft': 624,
 'floor': 286,
 'coverer': 179,
 'supvr': 671,
 'cleaner': 138,
 'microbiologist': 430,
 'municipal': 440,
 'stadium': 639,
 'groundskpr': 302,
 'fam': 273,
 'cld': 137,
 'ornamental': 463,
 'iron': 359,
 'ca': 107,
 'social': 623,
 'work': 748,
 'asphalt': 64,
 'museum': 441,
 'sec': 596,
 'stage': 642,
 'legislative': 380,
 'pile': 494,
 'curator': 190,
 'surgical': 672,
 'procedures': 526,
 'speech': 631,
 'pathologist': 476,
 'defenders': 198,
 'emerg': 245,
 'planning': 500,
 'arborist': 55,
 'food': 287,
 'performance': 483,
 'epidemiologist': 260,
 'clk': 142,
 'airports': 42,
 'patient': 477,
 'care': 116,
 'collections': 150,
 'receiver': 557,
 'scheduler': 589,
 'wit': 745,
 'occ': 449,
 'log': 391,
 'cabin': 108,
 'ranch': 552,
 'conservatorship': 167,
 'case': 118,
 'mgt': 429,
 'glazier': 297,
 'engineering': 255,
 'commercial': 155,
 'bricklayer': 103,
 'parts': 475,
 'storekeeper': 652,
 'aprntc': 52,
 'engine': 253,
 'accounts': 21,
 'feasibility': 277,
 'aide': 40,
 'qualitytech': 548,
 'signs': 621,
 'unified': 719,
 'pol': 507,
 'cent': 121,
 'proc': 525,
 'asian': 63,
 'arts': 62,
 'junior': 365,
 'sign': 619,
 'library': 382,
 'commission': 156,
 'rent': 566,
 'evaluations': 264,
 'representat': 573,
 'justice': 366,
 'trainer': 703,
 'guard': 307,
 'dental': 199,
 'market': 405,
 'xii': 757,
 'quality': 547,
 'rnch': 583,
 'sctry': 591,
 'distric': 222,
 'rep': 567,
 'nutritionist': 448,
 'cmplnts': 145,
 'management': 399,
 'fingerprint': 281,
 'roofer': 584,
 'central': 123,
 'processing': 528,
 'aprntcstatnry': 53,
 'wtrtreatplnt': 755,
 'typist': 716,
 'production': 529,
 'nursery': 445,
 'rehabilitation': 564,
 'act': 23,
 'therapy': 694,
 'vol': 734,
 'taxi': 683,
 'accesssvcs': 18,
 'aging': 38,
 'dietitian': 213,
 'pattern': 479,
 'maker': 398,
 'team': 684,
 'leader': 377,
 'vet': 727,
 'laboratory': 372,
 'technologist': 689,
 'ray': 553,
 'assistance': 69,
 'keeper': 370,
 'status': 647,
 'women': 747,
 'meter': 426,
 'eligibility': 243,
 'cook': 174,
 'recreation': 560,
 'compensation': 162,
 'programs': 534,
 'eligiblity': 244,
 'legal': 378,
 'anl': 48,
 'xi': 756,
 'customer': 193,
 'musm': 442,
 'cnsrvt': 148,
 'aam': 15,
 'prpl': 539,
 'permit': 484,
 'citation': 131,
 'ix': 361,
 'integrated': 345,
 'pest': 487,
 'specialst': 629,
 'porter': 512,
 'gardener': 293,
 'janitorial': 362,
 'development': 208,
 'wharfinger': 742,
 'hodcarrier': 317,
 'custodial': 191,
 'illustrator': 328,
 'art': 60,
 'designer': 206,
 'registrar': 562,
 'animal': 47,
 'testing': 692,
 'account': 19,
 'events': 265,
 'facilities': 271,
 'mail': 394,
 'reproduction': 574,
 'preparator': 517,
 'document': 225,
 'volunteer': 735,
 'outreach': 465,
 'technical': 686,
 'citizens': 133,
 'complaint': 163,
 'chef': 126,
 'information': 333,
 'window': 743,
 'mason': 408,
 'collection': 149,
 'nurses': 446,
 'staffing': 641,
 'graphics': 300,
 'legislation': 379,
 'tile': 695,
 'setter': 605,
 'da': 195,
 'investigative': 350,
 'assist': 68,
 'aquatics': 54,
 'facility': 272,
 'acupuncturist': 24,
 'snr': 622,
 'autopsy': 84,
 'depty': 204,
 'sealer': 594,
 'weights': 739,
 'meas': 413,
 'stores': 653,
 'field': 279,
 'noise': 443,
 'abatement': 16,
 'book': 100,
 'process': 527,
 'billing': 93,
 'orderly': 462,
 'morgue': 435,
 'attendant': 74,
 'programming': 533,
 'disease': 217,
 'electroencephalograph': 239,
 'respiratory': 578,
 'metalsmith': 425,
 'injury': 334,
 'baker': 85,
 'urban': 722,
 'forestry': 290,
 'unit': 720,
 'asr': 65,
 'office': 453,
 'ofcr': 452,
 'custodian': 192,
 'finance': 280,
 'laundry': 375,
 'alternative': 44,
 'orthopedic': 464,
 'transcriber': 706,
 'elections': 233,
 'telephone': 691,
 'trainee': 702,
 'swimming': 677,
 'instr': 341,
 'pool': 510,
 'lifeguard': 386,
 'measures': 414,
 'farmer': 276,
 'offset': 455,
 'machine': 392,
 'mobile': 434,
 'reader': 554,
 'photographer': 490,
 'inventory': 348,
 'recorder': 558,
 'marina': 402,
 'microphoto': 431,
 'graphic': 299,
 'artist': 61,
 'agricultural': 39,
 'cashier': 119,
 'youth': 763,
 'advisor': 34,
 'shade': 613,
 'drapery': 227,
 'supplies': 663,
 'crafts': 180,
 'instructor': 344,
 'dietetic': 212,
 'admission': 31,
 'intern': 346,
 'stable': 638,
 'prdainvest': 516,
 'specunit': 630,
 'lighting': 388,
 'fixture': 285,
 'braillist': 101,
 'assessment': 66,
 'housekeeper': 321,
 'clnr': 144,
 'cadet': 110,
 'institution': 339,
 'home': 318,
 'supply': 664,
 'page': 467,
 '14': 4,
 'beautician': 91,
 'stdntdsgntrain3': 650,
 'plng': 503,
 'stdntdsgntrain1': 649,
 'opers': 459,
 'ps': 540,
 'prof': 530,
 'plans': 501,
 'calendar': 111,
 'works': 750,
 'paralegal': 470,
 'stdntdsgn': 648,
 'train2': 701,
 'statistician': 645,
 'judge': 364,
 'audiometrist': 80,
 'distatty': 221,
 '10': 0,
 '13': 3,
 'seasonal': 595,
 'data': 196,
 'entry': 257,
 'school': 590,
 'crossing': 186,
 '18': 7,
 'pianist': 493,
 'brd': 102,
 'mbr': 412,
 '200': 9,
 'mtg': 438,
 'camp': 112,
 'exhibit': 269,
 'packer': 466,
 'bdcomm': 90,
 'grp5': 306,
 '100': 1,
 'mo': 433,
 'barber': 86,
 'grp3': 305,
 '50': 13,
 'grp2': 304,
 '25': 12,
 'battalion': 87,
 'suppress': 666,
 'dph': 226,
 'capt': 113,
 'invsgtn': 356,
 'managing': 401,
 'settlmnt': 606,
 'shops': 618,
 'duty': 229,
 'invst': 357,
 'admn': 32,
 '700c': 14,
 'pay': 480,
 'investment': 353,
 'vehicle': 725,
 'transportation': 709,
 'hsa': 323,
 'hh': 315,
 'instructional': 343,
 'sen': 600,
 'wrkr': 752,
 '11': 2,
 'acpo': 22,
 'juvp': 369,
 'cnselor': 146,
 'supervis': 659}

In [78]:
vector = vectorizer.transform(X)

vector.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [79]:
tfidf_df = pd.DataFrame(vector.toarray(), columns=vectorizer.get_feature_names())
tfidf_df

,10,100,11,13,14,15,16,18,19,200,...,wtrtreat,wtrtreatplnt,xi,xii,xiii,xiv,xv,xvi,xvii,youth
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
111025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
111026,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
111027,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
111028,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0